/** Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
    background-color: #6b8c91;
    color:#424242;
    
}

header {
    min-height: 25px;
}

.wrapper {
    position: fixed;
    top:0;
    background-color: #6b8c91;
    display: grid;
    place-items: center;
    border-top: 10px solid #424242;
    height:50vh;
    max-height: 50vh;
}

h1,
h2 {
    font-optical-sizing: auto;
    line-height: 50px;
    letter-spacing: 2px;;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}

.nav {
    display: block;
    width: 100vw;
    max-width: 100%;
    background-color: none;
    color:#424242;
    padding-bottom:15px;
}

.nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    justify-content: center;
    column-gap: 15px;

}

.nav ul li {
    display: block;
    background-color: #bde0d0;
    text-align: center;
    padding:5px;
    border-radius: 10px;
    width:100px;
}

li a, li a:hover, li a:link, li a:visited, li a:active {
    text-decoration: none;
    color: #6b8c91;
    text-transform: uppercase;
    margin:0px;
    display: block;
    width:100%;
    height:100%;
}

.nav ul li:hover {
    background-color: white !important;
}

.nav ul li:active, .nav ul li.current {
 background-color: white;
 font-weight: bolder;
}

.avatar {
    background-color: #bde0d0;
    border-radius: 50%;
    width: 150px;
    box-shadow: 3px 7px #424242;
    margin:20px 0;
}

.text {
    font-weight: 500;
    font-size:32px;
    letter-spacing: 2px;
    display: grid;
    place-items: center;
}

.content p {
    animation: 
        float 5s ease-in-out infinite,
        typing 3.5s steps(40,end);
    font-family:"VT323", monospace;
    text-align: center;
    padding: 30px;
    background-color: #bde0d0;
    border-radius: 11px;
    position: relative;
    font-size:40px;
    font-weight: 400;
    color:#424242;
    box-shadow: 6px 6px #424242;
}

.content p:before, .content p:after {
    content: "";
    font-weight:bold;
    text-align:left;
    width: 0;
    height: 0;
    display:block;
    position: absolute;
    border: 10px solid;
    border-color: #bde0d0 transparent transparent transparent;
    bottom:0px;

}

.content p:before {
    left:50px;
    border-top-right-radius: 11px;
    transform: rotate(135deg) translate(20%,-50%);
}

.content p:after {
    left:51px;
    border-top-left-radius: 11px;
    transform: rotate(-133deg) translate(-50%,-20%);
    box-shadow: -6px -1px #424242;
}

.main {
    position: relative;
    display:grid;
    padding:0px 10px;
    row-gap: 10px 30px;
    margin-top:50vh;
    height: 50vh;
    max-height: 50vh;
    height: 50%;
    overflow:hidden;
  }

.main section {
    position:relative;
    height:50vh;
    min-height: 50vh;
    border-radius: 10px;
    background-color: #bde0d0;
    opacity: 0;
  }

.main section:target, .main section:first-child  {
    opacity: 1;
  }


@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  

  