/** Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
    background-color: #6b8c91;
    color:#424242;
}

.wrapper {
    position: relative;
    background-color: #6b8c91;
    display: grid;
    place-items: center;
    border-top: 10px solid #424242;
    padding-top:20px;
    max-height: 50vh;
}

.wrapper::before, nav::before {
    content: '';
    display:block;
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    background-image: url('images/line.png');
    background-repeat: repeat;
    opacity: 0.1;
}

h1,
h2 {
    font-family: "VT323", 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-weight: 300;
    margin-bottom:10px;
}

h1 {
    font-size: 60px;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.329);
}
h2 {
    font-size: 30px;
}

nav {
    position: sticky;
    z-index: 1;
    top:0;
    background-color: #6b8c91;
    color:#424242;
    border-bottom: 1px solid #424242;
}

nav ul{
    position: relative;
    padding:20px 0;
    place-items: center;
    justify-content: center;
    column-gap: 15px;
}

nav ul li {
    display: block;
    background-color: #bde0d0;
    text-align: center;
    padding:5px;
    border-radius: 10px;
    width:100px;
    box-shadow: 6px 6px #424242;
}

ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 15px;
}

section#contact a img {
    filter: invert(40%) sepia(10%) saturate(500%) hue-rotate(145deg);
 }

section#contact a:hover img {
   filter: invert();
}

a {
    text-decoration: none;
}

li a, li a:hover, li a:link, li a:visited, li a:active {
    color: #6b8c91;
    text-transform: uppercase;
    margin:0px;
    display: block;
    width:100%;
    height:100%;
}

p a {
    background-color: rgba(255, 255, 255, 0.363);
}

p a:hover {
    background-color: rgba(255, 255, 255, 0.663);
}
p a:active {
    color:#6b8c91;
    padding-bottom:1px;
    border-bottom:1px solid;
    line-height: 25px;
}

.nav ul li:hover {
    background-color: white !important;
}

.nav ul li:active, .nav ul li.current {
 background-color: white;
 font-weight: bolder;
}

.avatar {
    position: relative;
    background-color: #bde0d0;
    border-radius: 50%;
    width: 150px;
    box-shadow: 3px 7px #424242;
    margin:20px 0;
}

.bubble p {
    animation: 
        float 5s ease-in-out infinite,
        typing 3.5s steps(40,end);
    font-family:"VT323", monospace;
    text-align: center;
    padding: 30px;
    background-color: #bde0d0;
    border-radius: 11px;
    position: relative;
    font-size:40px;
    font-weight: 400;
    color:#424242;
    box-shadow: 6px 6px #424242;
}

.bubble p::before, .bubble p::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid;
    border-color: #bde0d0 transparent transparent transparent;
    bottom:0px;

}

.bubble p::before {
    left:50px;
    border-top-right-radius: 11px;
    transform: rotate(135deg) translate(20%,-50%);
}

.bubble p::after {
    left:51px;
    border-top-left-radius: 11px;
    transform: rotate(-133deg) translate(-50%,-20%);
    box-shadow: -6px -1px #424242;
}

.main section {
    display: grid;
    grid-template-columns: 0.75fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    min-height: 50vh;
    background-color: #bde0d0dc;
  }

  .main section:target {
    min-height:50vh;
    padding-top:70px;
  }

.main section:nth-child(even) {
    background-color: #bde0d096;
}

.main section p {
    margin: 10px 0;
    font-size: 120%;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 1px;
}

section img {
    margin: 20px auto;
    min-width: 60%;
    max-width: 80%;
}

section p b {
    font-weight:500;
}
section#landing span{
   font-weight: 300;
   font-size:250%;
   letter-spacing: 2px;
   line-height: 50px;
}

.separator {
    display: block;
    width:20%;
    background-color: #6b8c91;
    background-image: url('images/line.png');
    background-repeat: repeat;
    padding:10px;
    margin: 0 auto;
    opacity: 0.2;
    box-shadow: 6px 6px #424242
}



@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  

  